/* About Section
*********************************************************************
*/

#about {
    padding: 100px 0 50px 0;
}

.about .container:nth-child(1){
    background: #151515;
}

.about .container h5 {
    position: absolute;
}

.about .container h2 {
    position: absolute;
    color: #40A2E3;
    justify-content: space-between;
}

.about .container:nth-child(1) h5 {
    color: #FFFFFF;
}

section>div>div>p {
    position: absolute;
    color: #FFFFFF;
}

.about .container:nth-child(1) h1{
    font-family: "Inria Serif", serif;
    color: #40A2E3;
    position: absolute;
}

.about .container:nth-child(1) .row h4{
    font-family: "Inria Serif", serif;
    color: #FFFFFF;
    position: absolute;
}

.about .aboutSImg {
    position: absolute;
}

.about .aboutLImg {
    position: absolute;
}

@media (min-width: 1500px){
    .about .container h5{
        top: 10%;
        letter-spacing: 5px;
    }

    .about .container h2 {
        top: 15%;
        letter-spacing: 5px;
    }

    .about .container:nth-child(1) h2{
        left: 10%;
        right: 35%;
    }

    .about .container:nth-child(1) h5{
        left: 10%;
    }

    section>div>div>p{
        top: 40%;
        left: 10%;
        right: 55%;
        font-size: 1.2rem;
    }

    .about .aboutSImg {
        border-radius: 12px 12px 12px 12px;
        width: 15%;
        height: 42%;
        right: 35%;
        bottom: 5%;
    }

    .about .aboutLImg {
        width: 30%;
        height: 85%;
        border-radius: 12px 12px 12px 12px;
        right: 3%;
        bottom: 5%;
    }

    .about .container:nth-child(1) h1{
        left: 50%;
        font-size: 10rem;
        top: 33%;
    }

    .about .container:nth-child(1) .row h4{
        left: 50%;
        font-size: 1.2rem;
        top: 48%;
        letter-spacing: 2px;
    }
}

@media (max-width: 1024px) {
    .about .container h5{
        top: 10%;
        letter-spacing: 5px;
    }

    .about .container h2 {
        top: 15%;
        letter-spacing: 5px;
    }

    .about .container:nth-child(1) h2{
        left: 10%;
        right: 35%;
    }

    .about .container:nth-child(1) h5{
        left: 10%;
    }

    section>div>div>p{
        top: 44%;
        left: 10%;
        right: 55%;
    }

    .about .aboutSImg {
        border-radius: 12px 12px 12px 12px;
        width: 17%;
        height: 35%;
        right: 37%;
        bottom: 5%;
    }

    .about .aboutLImg {
        width: 30%;
        height: 63%;
        border-radius: 12px 12px 12px 12px;
        right: 5%;
        bottom: 5%;
    }

    .about .container:nth-child(1) h1{
        left: 48%;
        font-size: 7rem;
        top: 40%;
    }

    .about .container:nth-child(1) .row h4{
        left: 48%;
        font-size: 0.9rem;
        top: 53%;
        letter-spacing: 2px;
    }
}
/* Tablet */
@media (max-width: 768px){
    .about .container:nth-child(1) {
        height: 65vh;
    }

    .about .container h5{
        top: 5%;
        letter-spacing: 3px;
    }

    .about .container h2 {
        top: 8%;
        letter-spacing: 3px;
    }

    .about .container:nth-child(1) h2{
        left: 8%;
        right: 25%;
    }

    .about .container:nth-child(1) h5{
        left: 8%;
    }

    section>div>div>p{
        top: 27%;
        left: 8%;
        right: 45%;
    }

    .about .aboutSImg {
       /* border-radius: 5px 5px 5px 5px;
        width: 17%;
        height: 40%;
        left: 45%;
        bottom: 8%;
        opacity: 2%;*/
        display: none;
    }

    .about .aboutLImg {
        width: 25%;
        height: 60%;
        border-radius: 5px 5px 5px 5px;
        right: 10%;
        bottom: 8%;
    }

    .about .container:nth-child(1) h1{
        left: 58%;
        font-size: 5rem;
        top: 15%;
    }

    .about .container:nth-child(1) .row h4{
        left: 58%;
        font-size: 0.5rem;
        top: 28%;
        letter-spacing: 2px;
    }

}

/* Mobile Large */
@media (max-width: 420px){
    .about .container:nth-child(1){
        height: 95vh;
    }

    .about .container h5{
        top: 5%;
        letter-spacing: 5px;
    }

    .about .container h2 {
        top: 8%;
        letter-spacing: 3px;
    }

    .about .container:nth-child(1) h2{
        left: 5%;
        right: 15%;
    }

    .about .container:nth-child(1) h5{
        left: 5%;
    }

    section>div>div>p{
        top: 20%;
        left: 5%;
        right: 10%;
    }

    .about .aboutSImg {
        /*border-radius: 2px 2px 2px 2px;
        width: 15%;
        height: 25%;
        left: 10%;
        bottom: 5%;*/
        display: none;
    }

    .about .aboutLImg {
        width: 38%;
        height: 32%;
        border-radius: 2px 2px 2px 2px;
        right: 8%;
        bottom: 5%;
    }

    .about .container:nth-child(1) h1{
        left: 18%;
        font-size: 5rem;
        top: 75%;
    }

    .about .container:nth-child(1) .row h4{
        left: 18%;
        font-size: 0.7rem;
        top: 85%;
        letter-spacing: 2px;
    }
}
@media (max-width: 380px) {
    .about .container:nth-child(1){
        height: 95vh;
    }

    .about .container h5{
        top: 5%;
        letter-spacing: 5px;
    }

    .about .container h2 {
        top: 8%;
        letter-spacing: 3px;
    }

    .about .container:nth-child(1) h2{
        left: 5%;
        right: 15%;
    }

    .about .container:nth-child(1) h5{
        left: 5%;
    }

    section>div>div>p{
        top: 25%;
        left: 5%;
        right: 10%;
    }

    .about .aboutSImg {
        border-radius: 2px 2px 2px 2px;
        width: 15%;
        height: 25%;
        left: 49%;
        bottom: 5%;
        display: none;
    }

    .about .aboutLImg {
        width: 70%;
        height: 52%;
        border-radius: 2px 2px 2px 2px;
        right: 8%;
        bottom: 5%;
        opacity: 10%;
    }

    .about .container:nth-child(1) h1{
        left: 18%;
        font-size: 5rem;
        top: 85%;
    }

    .about .container:nth-child(1) .row h4{
        left: 18%;
        font-size: 0.7rem;
        top: 95%;
        letter-spacing: 2px;
    }
}
/* Mobile Small */
@media (max-width: 320px) {
    .about .container:nth-child(1){
        height: 95vh;
    }

    .about .container h5{
        top: 5%;
        letter-spacing: 5px;
    }

    .about .container h2 {
        top: 8%;
        letter-spacing: 3px;
    }

    .about .container:nth-child(1) h2{
        left: 5%;
        right: 15%;
    }

    .about .container:nth-child(1) h5{
        left: 5%;
    }

    section>div>div>p{
        top: 25%;
        left: 5%;
        right: 10%;
    }

    .about .aboutSImg {
        /*border-radius: 2px 2px 2px 2px;
        width: 15%;
        height: 25%;
        left: 49%;
        bottom: 5%;*/
        display: none;
    }

    .about .aboutLImg {
        width: 70%;
        height: 52%;
        border-radius: 2px 2px 2px 2px;
        right: 8%;
        bottom: 5%;
        opacity: 10%;
    }

    .about .container:nth-child(1) h1{
        left: 18%;
        font-size: 5rem;
        top: 85%;
    }

    .about .container:nth-child(1) .row h4{
        left: 18%;
        font-size: 0.7rem;
        top: 95%;
        letter-spacing: 2px;
    }
    
}