/* About Section
*********************************************************************
*/

#about {
    padding: 100px 0 50px 0;
}

.about .container:nth-child(1){
    background: #151515;
}

.about .container h5 {
    position: absolute;
    top: 10%;
    letter-spacing: 5px;
}

.about .container h2 {
    position: absolute;
    color: #40A2E3;
    top: 18%;
    left: 7%;
    letter-spacing: 8px;
    justify-content: space-between;
}

.about .container:nth-child(1) h5 {
    color: #FFFFFF;
    left: 7%;
}

section>div>div>p {
    position: absolute;
    top: 38%;
    left: 7%;
    right: 65%;
    color: #FFFFFF;
}

.about .container:nth-child(1) h1{
    font-family: "Inria Serif", serif;
    left: 49%;
    font-size: 12rem;
    color: #40A2E3;
    position: absolute;
    top: 25%;
}

.about .container:nth-child(1) .row h4{
    font-family: "Inria Serif", serif;
    left: 50%;
    font-size: 1.2rem;
    color: #FFFFFF;
    position: absolute;
    top: 43%;
    letter-spacing: 2px;
}

.about .aboutSImg {
    position: absolute;
    border-radius: 12px 12px 12px 12px;
    width: 230px;
    height: 330px;
    right: 35%;
    bottom: 5%;
}

.about .aboutLImg {
    width: 450px;
    height: 600px;
    border-radius: 12px 12px 12px 12px;
    position: absolute;
    right: 3%;
    bottom: 5%;
}




