/*h1,h2,h3,h4{*/
/*    font-family: "Inria Serif", serif;*/
/*    color: #FFFFFF;*/
/*}*/
/*.contact-me{*/
/*    width: 100%;*/
/*    height: 90vh;*/
/*    background: rgb(252,252,252);*/
/*    background: linear-gradient(180deg, rgba(252,252,252,1) 0%, rgb(5, 58, 100) 0%, rgb(9, 13, 37) 42%, rgb(0, 0, 0) 100%, rgba(252,252,252,1) 100%);;*/
/*}*/
/*.sectionContact{*/
/*    position: absolute;*/
/*    color: #FFFFFF;*/
/*    font-size: 6rem;*/
/*    top: 40%;*/
/*    left: 7%;*/
/*}*/
/*.con1{*/
/*    position: absolute;*/
/*    font-size: 3rem;*/
/*    top: 60%;*/
/*    left: 10%;*/
/*}*/
/*.con2{*/
/*    position: absolute;*/
/*    font-size: 2.8rem;*/
/*    top: 68%;*/
/*    left: 15%;*/
/*}*/
/*.con2>span{*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 100%;*/
/*    font-size: 2.8rem;*/
/*    letter-spacing: 4px;*/
/*}*/
/*.feedback{*/
/*    width: 23%;*/
/*    height: 60%;*/
/*    background: black;*/
/*    position: absolute;*/
/*    top: 5%;*/
/*    right: 12%;*/
/*}*/
/*.feedback>h3{*/
/*    position: absolute;*/
/*    top: 5%;*/
/*    font-size: 2.5rem;*/
/*    left: 3%;*/
/*}*/
/*#inst{*/
/*    position: absolute;*/
/*    width: 5%;*/
/*    top: 75%;*/
/*    right: 28%;*/
/*}*/
/*.git{*/
/*    width: 4%;*/
/*    height: 8%;*/
/*    border-radius: 50%;*/
/*    background: #FFFFFF;*/
/*    position: absolute;*/
/*    top: 76%;*/
/*    right: 14%;*/
/*}*/
/*#git{*/
/*    position: absolute;*/
/*    width: 90%;*/
/*    top: 0;*/
/*    right: 0;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    margin: auto;*/
/*}*/
/*#link{*/
/*    position: absolute;*/
/*    width: 4%;*/
/*    top: 76%;*/
/*    right: 21%;*/
/*}*/
h1,h2,h3,h4{
    font-family: "Inria Serif", serif;
    color: #FFFFFF;
}

.contact .container{
    background: rgb(252,252,252);
    background: linear-gradient(180deg, rgba(252,252,252,1) 0%, rgb(5, 58, 100) 0%, rgb(9, 13, 37) 42%, rgb(0, 0, 0) 100%, rgba(252,252,252,1) 100%);;
}

.sectionContact{
    position: absolute;
    color: #FFFFFF;
}

.con1{
    position: absolute;
}

.con2{
    position: absolute;
}

.con2>span{
    position: absolute;
}

.contact .container:nth-child(1) .row{
    background: #101010;
    position: absolute;
}

.contact .container:first-child .row div{
    display: flex;
    justify-content: space-between;
}

.contact .container:first-child .row label{
    color: white;
}

.contact .container:first-child .row input{
    background: none;
    border: none;
    color: white;
}

.contact .container:first-child .row hr{
    width: 100%;
}

.contact .container:first-child .row button{
    background: #0d84ce;
    color: white;
    position: absolute;
}

#social{
    display: flex;
}

@media (min-width: 1500px){
    .contact .container{
        width: 100%;
        height: 90vh;
    }

    .sectionContact{
        top: 40%;
        left: 7%;
        font-size: 8.3rem;
    }

    .con1{
        top: 60%;
        left: 10%;
        font-size: 4.2rem;
    }

    .con2{
        top: 68%;
        left: 15%;
    }
    .con2>span{
        left: 0;
        top: 100%;
        letter-spacing: 4px;
    }

    .contact .container:nth-child(1) .row{
        width: 25%;
        height: 80%;
        top: -15%;
        right: 10%;
        padding: 5% 5% 5% 5%;
    }

    .contact .container:first-child .row div{
        width: 100%;
        height: 50%;
        flex-direction: column;
    }

    .contact .container:first-child .row input{
        width: 100%;
        height: 10%;
    }

    .contact .container:first-child .row button{
        width: 30%;
        height: 7%;
        right: -10%;
        top: 70%;
    }

    #social{
        width: 70%;
        height: 10%;
        flex-direction: row;
        margin-top: 50%;
    }

    #social img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1024px) {
    .contact .container{
        width: 100%;
        height: 90vh;
    }

    .sectionContact{
        top: 40%;
        left: 7%;
    }

    .con1{
        top: 55%;
        left: 10%;
    }

    .con2{
        top: 64%;
        left: 15%;
    }
    .con2>span{
        left: 0;
        top: 100%;
        letter-spacing: 4px;
    }

    .contact .container:nth-child(1) .row{
        width: 25%;
        height: 80%;
        top: -15%;
        right: 10%;
        padding: 5% 5% 5% 5%;
    }

    .contact .container:first-child .row div{
        width: 100%;
        height: 50%;
        flex-direction: column;
    }

    .contact .container:first-child .row input{
        width: 100%;
        height: 10%;
    }

    .contact .container:first-child .row button{
        width: 35%;
        height: 7%;
        right: -5%;
        top: 72%;
    }

    #social{
        width: 70%;
        height: 10%;
        flex-direction: row;
        margin-top: 50%;
        margin-left: 10%;
    }

    #social img {
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 768px){
    .contact .container{
        width: 100%;
        height: 70vh;
    }

    .sectionContact{
        top: 50%;
        left: 7%;
    }

    .con1{
        top: 60%;
        left: 10%;
    }

    .con2{
        top: 65%;
        left: 15%;
    }
    .con2>span{
        left: 0;
        top: 100%;
        letter-spacing: 4px;
    }

    .contact .container:nth-child(1) .row{
        width: 30%;
        height: 70%;
        top: -15%;
        right: 10%;
        padding: 5% 5% 5% 5%;
    }

    .contact .container:first-child .row div{
        width: 100%;
        height: 50%;
        flex-direction: column;
    }

    .contact .container:first-child .row input{
        width: 100%;
        height: 10%;
    }

    .contact .container:first-child .row button{
        width: 45%;
        height: 7%;
        right: -10%;
        top: 70%;
    }

    #social{
        width: 75%;
        height: 10%;
        flex-direction: row;
        margin-top: 50%;
    }

    #social img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 425px) {
    .contact .container{
        width: 100%;
        height: 80vh;
    }

    .sectionContact{
        top: 5%;
        left: 7%;
    }

    .con1{
        top: 60%;
        left: 10%;
        display: none;
    }

    .con2{
        top: 65%;
        left: 15%;
        display: none;
    }
    .con2>span{
        left: 0;
        top: 100%;
        letter-spacing: 4px;
    }

    .contact .container:nth-child(1) .row{
        width: 50%;
        height: 65%;
        top: 18%;
        right: 18%;
        padding: 5% 5% 5% 5%;
    }

    .contact .container:first-child .row div{
        width: 100%;
        height: 50%;
        flex-direction: column;
    }

    .contact .container:first-child .row input{
        width: 100%;
        height: 10%;
    }

    .contact .container:first-child .row button{
        width: 45%;
        height: 7%;
        right: -10%;
        top: 70%;
    }

    #social{
        width: 75%;
        height: 10%;
        flex-direction: row;
        margin-top: 50%;
        margin-left: 10%;
    }

    #social img {
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 380px) {
    .contact .container:first-child .row button{
        width: 50%;
        height: 7%;
        right: -10%;
        top: 70%;
    }
}
@media (max-width: 320px) {
    .contact .container{
        width: 100%;
        height: 80vh;
    }

    .sectionContact{
        top: 5%;
        left: 7%;
    }

    .con1{
        top: 60%;
        left: 10%;
        display: none;
    }

    .con2{
        top: 65%;
        left: 15%;
        display: none;
    }
    .con2>span{
        left: 0;
        top: 100%;
        letter-spacing: 4px;
    }

    .contact .container:nth-child(1) .row{
        width: 60%;
        height: 70%;
        top: 15%;
        right: 18%;
        padding: 5% 5% 5% 5%;
    }

    .contact .container:first-child .row div{
        width: 100%;
        height: 50%;
        flex-direction: column;
    }

    .contact .container:first-child .row input{
        width: 100%;
        height: 10%;
    }

    .contact .container:first-child .row button{
        width: 65%;
        height: 7%;
        right: -10%;
        top: 70%;
    }

    #social{
        width: 75%;
        height: 10%;
        flex-direction: row;
        margin-top: 50%;
        margin-left: 10%;
    }

    #social img {
        width: 100%;
        height: 100%;
    }
}