.gallery{
    background: black;
    width: 100%;
    height: 110vh;
}
.section-gallery{
    position: absolute;
    color: #40A2E3;
    top: 10%;
    right: 7%;
}
.gallery-desc{
    position: absolute;
    color: #FFFFFF;
    top: 18%;
    right: 7%;
    letter-spacing: 8px;
    justify-content: space-between;
}
.gallery>div.container>div:first-child>h1>span{
    position: absolute;
    top: 90%;
    right: 0;
}
.gallery-wrap {
    display: flex;
    flex-direction: row;
    top: 35%;
    width: 85%;
    height: 65%;
    left:7%;
    position:absolute;
}
.item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: flex 0.8s ease;
}
.item:hover{
     flex: 7;
 }
.item-1 {
    background-image: url("../assets/img/gallery/1.jpg");
}

.item-2 {
    background-image: url("../assets/img/gallery/2.jpg");
}

.item-3 {
    background-image: url("../assets/img/gallery/3.jpg");
}

.item-4 {
    background-image: url("../assets/img/gallery/4.jpg");
}

.item-5 {
    background-image: url("../assets/img/gallery/5.jpg");
}
.item-6{
    background-image: url("../assets/img/gallery/6.jpg");
}
.item-7{
    background-image: url("../assets/img/gallery/7.jpg");
}
.item-8{
    background-image: url("../assets/img/gallery/8.jpg");
}
img{
    display: block;
    width: 32px;
}

/*.gallery {
    display: flex;
    padding: 2px;
    transition: .3s;
    background: black;
    left: 7%;
}

.gallery:hover .gallery__image {
    filter: grayscale(1);
}

.gallery__column {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.gallery__link {
    margin: 1px;
    overflow: hidden;
}

.gallery__link:hover .gallery__image {
    filter: grayscale(0);
}

.gallery__link:hover .gallery__caption {
    opacity: 1;
}

.gallery__thumb {
    position: relative;
}

.gallery__image {
    display: block;
    width: 80%;
    transition: .3s;
}

.gallery__image:hover {
    transform: scale(1.1);
}*/

