.gallery{
    background: black;
    width: 100%;
    height: 110vh;
}
.section-gallery{
    position: absolute;
    color: #40A2E3;
    top: 10%;
    right: 7%;
}
.gallery-desc{
    position: absolute;
    color: #FFFFFF;
    top: 18%;
    right: 7%;
    letter-spacing: 8px;
    justify-content: space-between;
}
.gallery>div.container>div:first-child>h1>span{
    position: absolute;
    top: 90%;
    right: 0;
}
.gallery-wrap {
    display: flex;
    flex-direction: row;
    top: 35%;
    width: 85%;
    height: 65%;
    left:7%;
    position:absolute;
}
.item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: flex 0.8s ease;
}
.item:hover{
     flex: 7;
 }
.item-1 {
    background-image: url("../assets/img/gallery/1st.jpg");
}

.item-2 {
    background-image: url("../assets/img/gallery/2.jpg");
}

.item-3 {
    background-image: url("../assets/img/gallery/3.jpg");
}

.item-4 {
    background-image: url("../assets/img/gallery/4.jpg");
}

.item-5 {
    background-image: url("../assets/img/gallery/5.jpg");
}
.item-6{
    background-image: url("../assets/img/gallery/6.jpg");
}
.item-7{
    background-image: url("../assets/img/gallery/7.jpg");
}
.item-8{
    background-image: url("../assets/img/gallery/8.jpg");
}
img{
    display: block;
    width: 32px;
}
/*
.image-wrapper{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    transition: all 400ms;
    width: 85%;
    height: 65%;
    top: 30%;
    left: 7%;
}
.container:hover .box {
    filter: grayscale(100%) opacity(24%);
}

.box {
    position: relative;
    background: var(--img) center center;
    background-size: cover;
    transition: all 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box:hover {
    filter: grayscale(0%) opacity(100%);
}

.container:has(.box-1:hover) {
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
}

.container:has(.box-2:hover) {
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.container:has(.box-3:hover) {
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
}

.container:has(.box-4:hover) {
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
}

.container:has(.box-5:hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
}

.box:nth-child(odd) {
    transform: translateY(-16px);
}

.box:nth-child(even) {
    transform: translateY(16px);
}

.box::after {
    position: absolute;
    bottom: 20px;
    background: #000;
    color: #fff;
    padding: 10px 10px 10px 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transform: translateY(60px);
    opacity: 0;
    transition: all 400ms;
}

.box:hover::after {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 400ms;
}*/
