/*
    Business Process
*/

.about>div.container:nth-child(3){
    background: #151515;
}
.sectionBusiness{
    position: absolute;
    color: #40A2E3;
    top: 8%;
    left: 7%;
    letter-spacing: 5px;

}
.process{
    position: absolute;
    color: #FFFFFF;
    top: 16%;
    left: 7%;
    letter-spacing: 8px;
    justify-content: space-between;
}
/*.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #40A2E3;
    position: absolute;
    display:inline-block;
    margin: 20px;
}*/
.about>div.container:nth-child(3)>div:nth-child(2){
    width: 10%;
    height: 20%;
    border-radius: 50%;
    background: #40A2E3;
    position: absolute;
    display:inline-block;
    margin: 20px;
    top: 28%;
    left: 13%;
}

.about>div.container:nth-child(3)>div:nth-child(3){
    width: 10%;
    height: 20%;
    border-radius: 50%;
    background: #40A2E3;
    position: absolute;
    display:inline-block;
    margin: 20px;
    top: 28%;
    left: 43%;
}
.about>div.container:nth-child(3)>div:nth-child(4){
    width: 10%;
    height: 20%;
    border-radius: 50%;
    background: #40A2E3;
    position: absolute;
    display:inline-block;
    margin: 20px;
    top: 28%;
    left:73%;
}
.about>div.container:nth-child(3)>div:nth-child(5){
    width: 10%;
    height: 20%;
    border-radius: 50%;
    background: #40A2E3;
    position: absolute;
    display:inline-block;
    margin: 20px;
    top: 63%;
    left: 13%;
}
.about>div.container:nth-child(3)>div:nth-child(6){
    width: 10%;
    height: 20%;
    border-radius: 50%;
    background: #40A2E3;
    position: absolute;
    display:inline-block;
    margin: 20px;
    top: 63%;
    left: 43%;
}
.about>div.container:nth-child(3)>div:nth-child(7){
    width: 10%;
    height: 20%;
    border-radius: 50%;
    background: #40A2E3;
    position: absolute;
    display:inline-block;
    margin: 20px;
    top: 63%;
    left: 73%;
}
.about>div.container:nth-child(3)>h4{
    position: absolute;
    color: #40A2E3;
    font-size: 1.8rem;
}
#sched{
    width: 70%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#ui{
    width: 70%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#front{
    width: 70%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#deploy{
    width: 70%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#quality{
    width: 70%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#back{
    width: 70%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}