/* Why choose me sub section
*********************************************************************
*/
.about .container:nth-child(2) {
    background-color: #0E0E0E;
}

.about .container:nth-child(2) h5 {
    color: #40A2E3;
}

.about .container:nth-child(2) h2 {
    color: #FFFFFF;
}

.about .container .service {
    background: rgb(56, 54, 54);
    background: linear-gradient(168deg, rgb(56, 54, 54) 0%, rgb(14, 14, 14) 50%);
    position: absolute;
}

.container:nth-child(2) .row {
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.intro-block {
    background: linear-gradient(168deg, rgb(56, 54, 54) 0%, rgb(14, 14, 14) 50%);
    position: absolute;
}

.intro-block .intro-icon {
    position: absolute;
    background-color: #0068ff;
}

.intro-block .intro-icon>img {
/*/background-color: #FFA800;/*/
    filter: hue-rotate(90deg);
    color: black;
    position: absolute;
    margin: auto;
}

.about .container:nth-child(2) .intro-block h6 {
    color: #0068ff;
}

.about .container:nth-child(2) .intro-block p {
    position: absolute;
}
.intro-block:hover .intro-icon, .intro-block.active .intro-icon {
    background-color: #383636;
    color: white;
}

.intro-block:hover p {
    color: white;
}
.intro-block:hover, .intro-block.active {
    background: linear-gradient(168deg, rgb(56, 54, 54) 0%, rgb(0, 104, 255) 75%);
}

@media (max-width: 1500px){
    .about .container:nth-child(2) h5 {
        right: 10%;
        text-align: right;
    }

    .about .container:nth-child(2) h2 {
        text-align: right;
        right: 10%;
    }

    .about .container .service {
        height: 55%;
        border-radius: 10px  10px 10px 10px;
    }

    .container:nth-child(2) .row {
        flex-direction: row;
        top: 40%;
        left: 8%;
        right: 10%;
        width: 60%;
        height: 50%;
    }

    .intro-block {
        border-radius: 5% 5% 5% 5%;
        padding: 10% 2% 2% 2%;
        width: 25%;
        height: 70%;
    }

    .intro-block .intro-icon {
        top: -5%;
        left: -10%;
        width: 30%;
        height: 20%;
        border-radius: 50% 50% 50% 50%;
    }

    .intro-block .intro-icon>img {
    /*/background-color: #FFA800;/*/
    width: 80%;
        height: 80%;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    .about .container:nth-child(2) .intro-block h6 {
        text-align: left;
        font-size: 2.3rem;
    }

    .about .container:nth-child(2) .intro-block p {
        top: 38%;
    }
}

@media (max-width: 768px) {
    .about .container:nth-child(2) h5 {
        right: 10%;
        text-align: right;
    }

    .about .container:nth-child(2) h2 {
        text-align: right;
        right: 10%;
    }

    .about .container .service {
        height: 55%;
        border-radius: 10px  10px 10px 10px;
    }

    .container:nth-child(2) .row {
        flex-direction: column;
        top: 20%;
        left: 8%;
        right: 10%;
        width: 90%;
        height: 50%;
    }

    .intro-block {
        border-radius: 0;
        padding: 2% 2% 2% 5%;
        width: 90%;
        height: 30%;
    }

    .intro-block .intro-icon {
        top: 30%;
        left: -5%;
        width: 10%;
        height: 35%;
        border-radius: 50% 50% 50% 50%;
    }

    .intro-block .intro-icon>img {
        width: 80%;
        height: 80%;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    .about .container:nth-child(2) .intro-block:nth-child(2) h6{
        text-align: right;
    }

    .about .container:nth-child(2) .intro-block:nth-child(2) p{
        text-align: right;
    }

    .about .container:nth-child(2) .intro-block h6 {
        text-align: left;
        font-size: 2.3rem;
    }

    .about .container:nth-child(2) .intro-block p {
        top: 45%;
    }
}

@media (max-width: 320px) {
    .about .container:nth-child(2) h5 {
        right: 10%;
        text-align: right;
    }

    .about .container:nth-child(2) h2 {
        text-align: right;
        right: 10%;
    }

    .about .container .service {
        height: 55%;
        border-radius: 10px  10px 10px 10px;
    }

    .container:nth-child(2) .row {
        flex-direction: column;
        top: 20%;
        left: 8%;
        right: 10%;
        width: 90%;
        height: 50%;
    }

    .intro-block {
        border-radius: 0;
        padding: 2% 2% 2% 5%;
        width: 90%;
        height: 30%;
    }

    .intro-block .intro-icon {
        top: 30%;
        left: -5%;
        width: 10%;
        height: 35%;
        border-radius: 50% 50% 50% 50%;
    }

    .intro-block .intro-icon>img {
        width: 80%;
        height: 80%;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;

    }

    .about .container:nth-child(2) .intro-block:nth-child(2) h6{
        text-align: right;
    }

    .about .container:nth-child(2) .intro-block:nth-child(2) p{
        text-align: right;
    }

    .about .container:nth-child(2) .intro-block h6 {
        text-align: left;
        font-size: 1.3rem;
    }

    .about .container:nth-child(2) .intro-block p {
        top: 45%;
        font-size: 0.5rem;
    }

}